<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav navbar-nav container">
    <li><a class="nav-link" [routerLink]="['/welcome']">Home</a></li>
    <li><a class="nav-link" [routerLink]="['/products']">Product list</a></li>
    <li><a class="nav-link" [routerLink]="['/products']">Add product</a></li>
  </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
