<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div>
        <label class="form-label">Filter by</label>
        <input [(ngModel)]="listFilter" class="form-control" type="text"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filter by: {{listFilter}}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products && products.length">
        <thead>
        <tr>
          <th>
            <button (click)="toggleImage()" class="btn btn-primary">{{showImage ? 'Hide' : 'Show'}} image</button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prod of filteredProducts">
          <td><img *ngIf="showImage" class="img-fluid"
                   [src]="prod.imgUrl"
                   [title]="prod.name"
                   [style.width.px]="imageWidth"
                   [style.margin.px]="imageMargin"></td>
          <td>{{prod.name}}</td>
          <td>{{prod.code | lowercase | convertToSpace: ' '}}</td>
          <td>{{prod.release | date}}</td>
          <td>{{prod.price | currency}}</td>
          <td>
            <pm-star></pm-star>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
